@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  width: 100vw;
  height: 100vh;
  background: url('./books-background.jpg');
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 60px 30px 60px;
  align-items: center;
}

.header {
  color: #fff;
}

.form-container {
  width: 100%;
}

.book-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px 30px;
}

.form-input {
  width: 80%;
  outline: none;
  padding: 5px 13px;
  font-family: 'Lato', sans-serif;
  border-style: solid;
  border-color: orangered;
  border-radius: 20px;
  font-size: 1.1rem;
  height: 35px;
  margin-right: 5px;
}

.form-btn {
  height: 35px;
  width: 76px;
  padding: 5px 10px;
  border-radius: 17px;
  background-color: orangered;
  border: 2px solid orangered;
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.5s ease 0s;
}

.form-btn:hover {
  color: orangered;
  background-color: #fff;
}

.book {
  display: flex;
  height: 180px;
  padding: 3px 5px;
}

.book img {
  height: 100%;
  width: auto;
}

.imgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 30px;
  border: 3px solid orangered;
  border-radius: 20px;
}

.hide {
  display: none;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-header {
  color:rgb(255, 38, 0);
}

.home-link {
  font-size: 1.4rem;
}

.home-link:hover {
  color: #fff;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
